h1 {
    color: red;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #00B7FF;
  }
  
  #btn {
    color: red;
    border: 1px solid black;
    width: 80px;
    height: 25px;
  }
  