.navigationBar{
    margin: 0%;
    width:100% ;
    height: 90px;
    background-color: rgba(124, 124, 30, 0.37);
    /* position:fixed; */
    display: flex;

}.buttonOfNavigationBar{
    
    width: 16%;
    height: 100%;
    background-color: rgba(241, 241, 241, 0);
    border: none;
    font-style: oblique;
    font-size: large;
    text-shadow: 1px 1px;
    text-decoration-line: underline; 
}.buttonOfNavigationBar:hover {

cursor: pointer;
transition: 2000ms;
}.buttonOfNavigationBar a{
color:black;
}.bootuns{
  
    width: 49%;
    padding: 10px;
}.serviceHours{
margin: 10px;
font-size:30px;

}#logo{
margin-left: 3%;
width: 103px;
height: 90px;
position: fixed;

}#logo:hover{
    cursor: pointer;
}td{
    text-align: center;
}h4{
    text-align: center;
}.soops{
text-align: center;

}.mattress{
    text-align: center;
}.car{
    text-align: center;
}.rugs{
    text-align: center;
}.chairs{
    text-align: center;

    
    }.iconwhatsapp{
        width: 100%;
        height: 200px;
        background-color: black;
        color: white;
        margin-top: 5%;
        display: flex;
      justify-content: center;
        
    }.tocing{
        margin: 40px;
        color: blue;
    }.tocing :hover{
       
        color: white;
    }.placesForGhob{
        color: white;
    
    }.divOfplacesForGhob{
        width: 100%;
        height: 300px;
        background-color:black;
       display: flex;
       justify-content: space-around;
    }.divOfplacesForGhob img{
        width: 70%;
        height: 80%;
       
        margin-left: 100px;
    }
    
    