<tr>
    <td>5</td>
    <td>userName</td>
    <td>neriyamalachi@gmail.com</td>
    <td>male</td>
    <td>active</td>
    <td>

        <a href="/updata_user" class="btn border-shadow updata">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>

        <a href="#" class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>

</tr>