
<%-include('include/_header')%>

<div class="firstDiv">
    <p>app data user</p>
    
    </div>
    
    
    <div class="bodyOfPeper">
    
    
     <div class="inputpeper">
    <div class="propertis">
       <input placeholder="שם מלא" id="inputName" type="text">
       <input placeholder="imail" id="inputImal" type="text">
       <input placeholder="טלאפון" id="inputcall" type="text">
       <input  placeholder="באיזה ניקיון מתענינים" id="inputTipeClining" type="text">
    </div>
       <input placeholder="הערות" id="inputtext" type="text">
    
       <button id="butonForContect">שלח</button>
    </div>
    
     
    <div class="orders">
       <p>להזמנת שירות</p>
       <p>0585202271</p>
    </div>
    </div>
    
    
    </div>
    



<%-include('include/_footer')%>